.footer {
  background-color: #000000;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerHeader {
  color: white;
  font-size: 24px;
  margin-right: 20px; /* Add spacing between the header and the icons */
}

.aFooter {
  color: white;
  font-size: 28px;
  margin: 0 15px; /* Spacing between the icons */
  transition: color 0.3s ease-in-out;
}

.aFooter:hover {
  color: #007bff; /* Change color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footerHeader {
    font-size: 20px;
  }

  .aFooter {
    font-size: 24px;
    margin: 0 10px;
  }
}

@media (max-width: 576px) {
  .footerHeader {
    font-size: 18px;
  }

  .aFooter {
    font-size: 22px;
    margin: 0 8px;
  }
}
