.container-fluid.gameSigns {
  padding-top: 100px;
  display: block;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: normal;
}

.sign-row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center;
  gap: 10px; /* Reduced gap for mobile */
  margin-bottom: 20px;
}

.sign-image {
  height: 150px; /* Reduced size for mobile */
  width: 150px; /* Reduced size for mobile */
  object-fit: contain;
}

/* Responsive Design */
@media (max-width: 600px) {
  .sign-row {
    gap: 10px; /* Adjust gap for smaller screens */
  }

  .sign-image {
    height: 150px;
    width: 150px;
  }
}
